workflows/claude-gateway-chaos-logs-api.json
{
  "updatedAt": "2026-04-09T12:31:39.168Z",
  "createdAt": "2026-04-09T12:31:31.147Z",
  "id": "eApfG8LhTImiUwTf",
  "name": "NL - Chaos Logs API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "chaos-logs",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "1a3ef072-cde6-43df-ad98-538cbcc9df59"
    },
    {
      "id": "ssh1",
      "name": "Run Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "authentication": "privateKey",
        "command": "python3 /app/claude-gateway/scripts/chaos-logs.py",
        "options": {}
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "REDACTED_SSH_CRED",
          "name": "nl-claude01 - SSH app-user"
        }
      }
    },
    {
      "id": "resp1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.stdout) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Script": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "66567ee3-947a-4a32-af5a-304c0c309076",
  "activeVersionId": "66567ee3-947a-4a32-af5a-304c0c309076",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T12:31:31.149Z",
      "createdAt": "2026-04-09T12:31:31.149Z",
      "role": "workflow:owner",
      "workflowId": "eApfG8LhTImiUwTf",
      "projectId": "CLDM2Ezgw9101HuF",
      "project": {
        "updatedAt": "2025-01-28T17:38:17.181Z",
        "createdAt": "2025-01-28T17:31:03.531Z",
        "id": "CLDM2Ezgw9101HuF",
        "name": "Redrick Schuhart <mlkajixn@mail.example.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-09T12:31:31.248Z",
    "createdAt": "2026-04-09T12:31:31.248Z",
    "versionId": "66567ee3-947a-4a32-af5a-304c0c309076",
    "workflowId": "eApfG8LhTImiUwTf",
    "nodes": [
      {
        "id": "wh1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "path": "chaos-logs",
          "httpMethod": "GET",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "webhookId": "1a3ef072-cde6-43df-ad98-538cbcc9df59"
      },
      {
        "id": "ssh1",
        "name": "Run Script",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          470,
          300
        ],
        "parameters": {
          "authentication": "privateKey",
          "command": "python3 /app/claude-gateway/scripts/chaos-logs.py",
          "options": {}
        },
        "credentials": {
          "sshPrivateKey": {
            "id": "REDACTED_SSH_CRED",
            "name": "nl-claude01 - SSH app-user"
          }
        }
      },
      {
        "id": "resp1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          690,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.parse($json.stdout) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Run Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Script": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Redrick Schuhart",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-09T12:31:40.358Z",
        "id": 2051,
        "workflowId": "eApfG8LhTImiUwTf",
        "versionId": "66567ee3-947a-4a32-af5a-304c0c309076",
        "event": "activated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    ]
  }
}
