workflows/claude-gateway-agentic-stats.json
{
  "id": "ncUp08mWsdrtBwMA",
  "name": "NL - Agentic Stats API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "Stats Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "path": "agentic-stats",
        "responseMode": "responseNode",
        "httpMethod": "GET",
        "options": {}
      },
      "webhookId": "agentic-stats-v1"
    },
    {
      "id": "query-db",
      "name": "Query Stats",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "privateKey",
        "command": "python3 /app/claude-gateway/scripts/agentic-stats.py"
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "REDACTED_SSH_CRED",
          "name": "nl-claude01 - SSH app-user"
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond with JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.stdout) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=300"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Stats Webhook": {
      "main": [
        [
          {
            "node": "Query Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stats": {
      "main": [
        [
          {
            "node": "Respond with JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "73572339-03ab-4159-a4bc-8d3d5dd4cd4b",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T17:11:03.831Z",
      "createdAt": "2026-04-07T17:11:03.831Z",
      "role": "workflow:owner",
      "workflowId": "ncUp08mWsdrtBwMA",
      "projectId": "CLDM2Ezgw9101HuF",
      "project": {
        "updatedAt": "2025-01-28T17:38:17.181Z",
        "createdAt": "2025-01-28T17:31:03.531Z",
        "id": "CLDM2Ezgw9101HuF",
        "name": "Redrick Schuhart <mlkajixn@mail.example.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-07T17:23:27.975Z",
    "createdAt": "2026-04-07T17:23:27.975Z",
    "versionId": "73572339-03ab-4159-a4bc-8d3d5dd4cd4b",
    "workflowId": "ncUp08mWsdrtBwMA",
    "nodes": [
      {
        "id": "webhook",
        "name": "Stats Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          260,
          300
        ],
        "parameters": {
          "path": "agentic-stats",
          "responseMode": "responseNode",
          "httpMethod": "GET",
          "options": {}
        },
        "webhookId": "agentic-stats-v1"
      },
      {
        "id": "query-db",
        "name": "Query Stats",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "authentication": "privateKey",
          "command": "python3 /app/claude-gateway/scripts/agentic-stats.py"
        },
        "credentials": {
          "sshPrivateKey": {
            "id": "REDACTED_SSH_CRED",
            "name": "nl-claude01 - SSH app-user"
          }
        }
      },
      {
        "id": "respond",
        "name": "Respond with JSON",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          700,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.parse($json.stdout) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Cache-Control",
                  "value": "public, max-age=300"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Stats Webhook": {
        "main": [
          [
            {
              "node": "Query Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Stats": {
        "main": [
          [
            {
              "node": "Respond with JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Redrick Schuhart",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-07T17:23:28.090Z",
        "id": 1988,
        "workflowId": "ncUp08mWsdrtBwMA",
        "versionId": "73572339-03ab-4159-a4bc-8d3d5dd4cd4b",
        "event": "activated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      },
      {
        "createdAt": "2026-04-07T17:23:28.052Z",
        "id": 1987,
        "workflowId": "ncUp08mWsdrtBwMA",
        "versionId": "73572339-03ab-4159-a4bc-8d3d5dd4cd4b",
        "event": "deactivated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    ]
  }
}