workflows/claude-gateway-chaos-test-start.json
{
  "updatedAt": "2026-04-09T13:44:59.988Z",
  "createdAt": "2026-04-09T07:58:01.348Z",
  "id": "WAWh7xhog34Shh9u",
  "name": "NL - Chaos Test Start",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "chaos-start",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "c5b8c48d-03e0-406e-b092-2f3421ddded3"
    },
    {
      "id": "ssh1",
      "name": "Run Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "authentication": "privateKey",
        "command": "=python3 /app/claude-gateway/scripts/chaos-test.py start {{ $json.body.chaos_type ? '--chaos-type \"' + $json.body.chaos_type + '\"' : '' }} {{ $json.body.scenario ? '--scenario \"' + $json.body.scenario + '\"' : ($json.body.tunnels ? '--tunnels \\'' + JSON.stringify($json.body.tunnels) + '\\'' : ($json.body.tunnel ? '--tunnel \"' + $json.body.tunnel + '\" --wan \"' + ($json.body.wan || '') + '\"' : '')) }} {{ $json.body.host ? '--host \"' + $json.body.host + '\"' : '' }} {{ $json.body.container ? '--container \"' + $json.body.container + '\"' : '' }} --duration {{ $json.body.duration || 600 }} --turnstile-token \"{{ $json.body['cf-turnstile-response'] || $json.body.turnstile_token || '' }}\"",
        "options": {}
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "REDACTED_SSH_CRED",
          "name": "nl-claude01 - SSH app-user"
        }
      }
    },
    {
      "id": "resp1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.stdout) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Script": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8f00e3e1-e960-4962-aceb-1e7a8410a8d3",
  "activeVersionId": "8f00e3e1-e960-4962-aceb-1e7a8410a8d3",
  "versionCounter": 30,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T07:58:01.352Z",
      "createdAt": "2026-04-09T07:58:01.352Z",
      "role": "workflow:owner",
      "workflowId": "WAWh7xhog34Shh9u",
      "projectId": "CLDM2Ezgw9101HuF",
      "project": {
        "updatedAt": "2025-01-28T17:38:17.181Z",
        "createdAt": "2025-01-28T17:31:03.531Z",
        "id": "CLDM2Ezgw9101HuF",
        "name": "Redrick Schuhart <mlkajixn@mail.example.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-09T13:44:59.992Z",
    "createdAt": "2026-04-09T13:44:59.992Z",
    "versionId": "8f00e3e1-e960-4962-aceb-1e7a8410a8d3",
    "workflowId": "WAWh7xhog34Shh9u",
    "nodes": [
      {
        "id": "wh1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "path": "chaos-start",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "webhookId": "c5b8c48d-03e0-406e-b092-2f3421ddded3"
      },
      {
        "id": "ssh1",
        "name": "Run Script",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          470,
          300
        ],
        "parameters": {
          "authentication": "privateKey",
          "command": "=python3 /app/claude-gateway/scripts/chaos-test.py start {{ $json.body.chaos_type ? '--chaos-type \"' + $json.body.chaos_type + '\"' : '' }} {{ $json.body.scenario ? '--scenario \"' + $json.body.scenario + '\"' : ($json.body.tunnels ? '--tunnels \\'' + JSON.stringify($json.body.tunnels) + '\\'' : ($json.body.tunnel ? '--tunnel \"' + $json.body.tunnel + '\" --wan \"' + ($json.body.wan || '') + '\"' : '')) }} {{ $json.body.host ? '--host \"' + $json.body.host + '\"' : '' }} {{ $json.body.container ? '--container \"' + $json.body.container + '\"' : '' }} --duration {{ $json.body.duration || 600 }} --turnstile-token \"{{ $json.body['cf-turnstile-response'] || $json.body.turnstile_token || '' }}\"",
          "options": {}
        },
        "credentials": {
          "sshPrivateKey": {
            "id": "REDACTED_SSH_CRED",
            "name": "nl-claude01 - SSH app-user"
          }
        }
      },
      {
        "id": "resp1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          690,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.parse($json.stdout) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Run Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Script": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Redrick Schuhart",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-09T13:45:00.355Z",
        "id": 2055,
        "workflowId": "WAWh7xhog34Shh9u",
        "versionId": "8f00e3e1-e960-4962-aceb-1e7a8410a8d3",
        "event": "activated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      },
      {
        "createdAt": "2026-04-09T13:45:00.267Z",
        "id": 2054,
        "workflowId": "WAWh7xhog34Shh9u",
        "versionId": "8f00e3e1-e960-4962-aceb-1e7a8410a8d3",
        "event": "deactivated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    ]
  }
}
