workflows/claude-gateway-chaos-test-start.json
{
  "updatedAt": "2026-04-16T12:52:00.105Z",
  "createdAt": "2026-04-09T07:58:01.348Z",
  "id": "WAWh7xhog34Shh9u",
  "name": "NL - Chaos Test Start",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "chaos-start",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kyriakos.papadopoulos.tech"
        }
      },
      "webhookId": "c5b8c48d-03e0-406e-b092-2f3421ddded3"
    },
    {
      "id": "ssh1",
      "name": "Run Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "authentication": "privateKey",
        "command": "=cat > /tmp/chaos-payload.json << 'CHAOSEOF'\n{{ JSON.stringify(Object.assign({}, $json.body || $json, { source_ip: ($json.headers || {})['cf-connecting-ip'] || (($json.headers || {})['x-forwarded-for'] || '').split(',')[0].trim() || 'unknown' })) }}\nCHAOSEOF\npython3 /app/claude-gateway/scripts/chaos-test.py start --params-b64 $(python3 -c \"import json,base64,sys; d=json.load(open('/tmp/chaos-payload.json')); print(base64.b64encode(json.dumps(d if isinstance(d,dict) else json.loads(d)).encode()).decode())\")",
        "options": {}
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "REDACTED_SSH_CRED",
          "name": "nl-claude01 - SSH app-user"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "resp1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const out = $json.stdout || ''; const err = $json.stderr || ''; const code = $json.exitCode; if (out) { try { return JSON.parse(out); } catch(e) {} } return {error: err || 'Script failed (exit ' + code + ')', stdout: out.slice(0,200), exitCode: code}; })() }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyriakos.papadopoulos.tech"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Script": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "43260420-29f7-41a1-ba7c-2b11298015d2",
  "activeVersionId": "43260420-29f7-41a1-ba7c-2b11298015d2",
  "versionCounter": 67,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T07:58:01.352Z",
      "createdAt": "2026-04-09T07:58:01.352Z",
      "role": "workflow:owner",
      "workflowId": "WAWh7xhog34Shh9u",
      "projectId": "CLDM2Ezgw9101HuF",
      "project": {
        "updatedAt": "2025-01-28T17:38:17.181Z",
        "createdAt": "2025-01-28T17:31:03.531Z",
        "id": "CLDM2Ezgw9101HuF",
        "name": "Redrick Schuhart <mlkajixn@mail.example.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-13T01:01:15.549Z",
    "createdAt": "2026-04-13T01:01:15.549Z",
    "versionId": "43260420-29f7-41a1-ba7c-2b11298015d2",
    "workflowId": "WAWh7xhog34Shh9u",
    "nodes": [
      {
        "id": "wh1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "path": "chaos-start",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "https://kyriakos.papadopoulos.tech"
          }
        },
        "webhookId": "c5b8c48d-03e0-406e-b092-2f3421ddded3"
      },
      {
        "id": "ssh1",
        "name": "Run Script",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          470,
          300
        ],
        "parameters": {
          "authentication": "privateKey",
          "command": "=cat > /tmp/chaos-payload.json << 'CHAOSEOF'\n{{ JSON.stringify(Object.assign({}, $json.body || $json, { source_ip: ($json.headers || {})['cf-connecting-ip'] || (($json.headers || {})['x-forwarded-for'] || '').split(',')[0].trim() || 'unknown' })) }}\nCHAOSEOF\npython3 /app/claude-gateway/scripts/chaos-test.py start --params-b64 $(python3 -c \"import json,base64,sys; d=json.load(open('/tmp/chaos-payload.json')); print(base64.b64encode(json.dumps(d if isinstance(d,dict) else json.loads(d)).encode()).decode())\")",
          "options": {}
        },
        "credentials": {
          "sshPrivateKey": {
            "id": "REDACTED_SSH_CRED",
            "name": "nl-claude01 - SSH app-user"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "resp1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          690,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ (() => { const out = $json.stdout || ''; const err = $json.stderr || ''; const code = $json.exitCode; if (out) { try { return JSON.parse(out); } catch(e) {} } return {error: err || 'Script failed (exit ' + code + ')', stdout: out.slice(0,200), exitCode: code}; })() }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://kyriakos.papadopoulos.tech"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Run Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Script": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Redrick Schuhart",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-13T01:01:15.644Z",
        "id": 2269,
        "workflowId": "WAWh7xhog34Shh9u",
        "versionId": "43260420-29f7-41a1-ba7c-2b11298015d2",
        "event": "activated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      },
      {
        "createdAt": "2026-04-13T01:01:15.591Z",
        "id": 2268,
        "workflowId": "WAWh7xhog34Shh9u",
        "versionId": "43260420-29f7-41a1-ba7c-2b11298015d2",
        "event": "deactivated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    ]
  }
}