workflows/claude-gateway-chaos-test-recover.json
{
  "updatedAt": "2026-04-13T01:09:24.080Z",
  "createdAt": "2026-04-09T07:58:23.973Z",
  "id": "fbLxCNWDJmVyPw6j",
  "name": "NL - Chaos Test Recover",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "chaos-recover",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kyriakos.papadopoulos.tech"
        }
      },
      "webhookId": "d312b5a3-a977-4f60-8847-5ea55c2c414b"
    },
    {
      "id": "ssh1",
      "name": "Run Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "authentication": "privateKey",
        "command": "=python3 /app/claude-gateway/scripts/chaos-test.py recover --params-b64 {{ Buffer.from(JSON.stringify($json.body || {})).toString('base64') }}",
        "options": {}
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "REDACTED_SSH_CRED",
          "name": "nl-claude01 - SSH app-user"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "resp1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { try { return JSON.parse($json.stdout || '{}'); } catch(e) { return {error: 'Script failed', detail: ($json.stderr || '').slice(0, 500), exitCode: $json.exitCode}; } })() }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyriakos.papadopoulos.tech"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Script": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "94728e2b-fd57-403a-af38-1e64310631dc",
  "activeVersionId": "94728e2b-fd57-403a-af38-1e64310631dc",
  "versionCounter": 33,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T07:58:23.974Z",
      "createdAt": "2026-04-09T07:58:23.974Z",
      "role": "workflow:owner",
      "workflowId": "fbLxCNWDJmVyPw6j",
      "projectId": "CLDM2Ezgw9101HuF",
      "project": {
        "updatedAt": "2025-01-28T17:38:17.181Z",
        "createdAt": "2025-01-28T17:31:03.531Z",
        "id": "CLDM2Ezgw9101HuF",
        "name": "Redrick Schuhart <mlkajixn@mail.example.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-13T01:09:24.081Z",
    "createdAt": "2026-04-13T01:09:24.081Z",
    "versionId": "94728e2b-fd57-403a-af38-1e64310631dc",
    "workflowId": "fbLxCNWDJmVyPw6j",
    "nodes": [
      {
        "id": "wh1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "path": "chaos-recover",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "https://kyriakos.papadopoulos.tech"
          }
        },
        "webhookId": "d312b5a3-a977-4f60-8847-5ea55c2c414b"
      },
      {
        "id": "ssh1",
        "name": "Run Script",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          470,
          300
        ],
        "parameters": {
          "authentication": "privateKey",
          "command": "=python3 /app/claude-gateway/scripts/chaos-test.py recover --params-b64 {{ Buffer.from(JSON.stringify($json.body || {})).toString('base64') }}",
          "options": {}
        },
        "credentials": {
          "sshPrivateKey": {
            "id": "REDACTED_SSH_CRED",
            "name": "nl-claude01 - SSH app-user"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "resp1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          690,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ (() => { try { return JSON.parse($json.stdout || '{}'); } catch(e) { return {error: 'Script failed', detail: ($json.stderr || '').slice(0, 500), exitCode: $json.exitCode}; } })() }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://kyriakos.papadopoulos.tech"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Run Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Script": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Redrick Schuhart",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-13T01:09:24.182Z",
        "id": 2273,
        "workflowId": "fbLxCNWDJmVyPw6j",
        "versionId": "94728e2b-fd57-403a-af38-1e64310631dc",
        "event": "activated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      },
      {
        "createdAt": "2026-04-13T01:09:24.139Z",
        "id": 2272,
        "workflowId": "fbLxCNWDJmVyPw6j",
        "versionId": "94728e2b-fd57-403a-af38-1e64310631dc",
        "event": "deactivated",
        "userId": "e9fee775-b2ff-4def-84a3-eddfe7e43be1"
      }
    ]
  }
}